body{
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  background-color: #f4f6fa;
  margin: 0;
  padding: 0; 
}

p{
    color: #7997c4;
    font-size: 1rem;
}

li{
    color: #7997c4;
    font-size: 0.7rem;
}

#footer p{
    font-size: 0.7rem;
}